
<div class="task_page_cont">

  <div class="filter_container">
    <div class="filter_fields">
      <mat-icon aria-hidden="false" fontIcon="filter_list"></mat-icon>
      <mat-form-field appearance="fill" class="filter-field">
        <mat-label>Day Filter</mat-label>
        
        <mat-select [(value)]="dayFilter" (selectionChange)="applyFilter()">
          <mat-option value="all">All</mat-option>
          <mat-option value="today">Today</mat-option>
          <mat-option value="tomorrow">Tomorrow</mat-option>
        </mat-select>
      </mat-form-field>
  
     
    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Status Filter</mat-label>
      <mat-select [(value)]="statusFilter" (selectionChange)="applyFilter()">
          <mat-option value="all">All</mat-option>
          <mat-option value="pending">Pending</mat-option>
          <mat-option value="in progress">In Progress</mat-option>
          <mat-option value="completed">Completed</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="filter-field full-width">
        <mat-label>Search Tasks</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter()" [(ngModel)]="searchValue" placeholder="Search by title or description">
        @if (searchValue) {
            <button matSuffix mat-icon-button aria-label="Clear"(click)="clearSearch()">
              <mat-icon>close</mat-icon>
            </button>
          }
      </mat-form-field>
    </div>
    
    <button mat-raised-button color="primary" class="btn_add large-button" (click)="openAddTaskDialog()">
      Add Task
    </button>
  </div>
  <br>
  

      

  <div div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z7 fixed-header-table">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="completed">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary"
              [checked]="element.status === 'Completed'"
              (change)="onTaskCompletionChange(element, $event.checked)"
              (click)="$event.stopPropagation()">
            </mat-checkbox>
          </td>
        </ng-container>
      
        <!-- Task Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
          <td mat-cell *matCellDef="let element" (click)="openEditDialog(element)" > {{element.title}} </td>
        </ng-container>
      
        <!-- Subtasks Column -->

  <ng-container matColumnDef="subtasks">
    <th mat-header-cell *matHeaderCellDef> Subtasks </th>
    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> 
      <ul>
        <li *ngFor="let subtask of element.subtasks">
          <mat-checkbox color="primary"
            [checked]="subtask.done"
            (change)="onSubtaskCompletionChange(element, subtask, $event.checked)">
          </mat-checkbox>
          <span [ngClass]="{'completed-task': subtask.done}">{{ subtask.name }}</span>
        </li>
      </ul>
    </td>
  </ng-container>
      
<!-- Status Column -->
<ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> 
      <span class="status-chip" [ngClass]="getStatusClass(element.status)">
        {{element.status}}
      </span>
    </td>
  </ng-container>
  
  <!-- Priority Column -->
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
    <td mat-cell *matCellDef="let element">
      <span class="priority-chip" [ngClass]="getPriorityClass(element.priority)">
        {{element.priority}}
      </span>
    </td>
  </ng-container>

      <!-- Date Range Column -->
  <ng-container matColumnDef="dateRange">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Range </th>
    <td mat-cell *matCellDef="let element">
      {{element.startDate | date}} - {{element.endDate | date}}
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="openEditDialog(element)">Edit</button>
      <button mat-button color="warn" (click)="deleteTask(element)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"  class="mat-header-row" ></tr>
  <!-- Data Row -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tasks"></mat-paginator>
        

    </div>    
    