.dashBoard_container {
    padding: 8px;
  }
  
  .title_cont {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 24px;
    border-radius: 5px;
    margin: 10px 0;
   
  }
  
  .das_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .summary_cont, .due_cont {
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    margin: 10px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .summary_cont {
    flex: 1.5;
    margin-right: 10px;
  }
  
  .due_cont {
    flex: 1;
  }
  
  .summary_card_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .summary_card {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 5px;
    flex: 1;
    width: 150px;
    height: 150px;
    text-align: bottom;
    color: #424242;
    transition: transform 0.2s;
  }
  
  .summary_card:hover {
    transform: scale(1.05);
  }
  
  .summary_card .count {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .summary_card .state {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .pending {
    background-color: #fff3cd;
    color: #856404;
  }
  
  .completed {
    background-color: #d4edda;
    color: #155724;
  }
  
  .due_cont h2 {
    margin-bottom: 15px;
  }
  
  .due_list {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .das_cont {
      flex-direction: column;
    }
  
    .summary_card {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .summary_cont, .due_cont {
      margin-right: 0;
    }
  }
  