.dashboard-container {
  padding: 20px;
}
.title{
  font-size: 2rem;
}

.summary-section {
  margin-bottom: 20px;
}

.summary-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.summary-card {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.summary-card h3 {
  font-size: 2em;
  margin-bottom: 0;
}

.summary-card p {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.summary-card.pending {
  background-color: #fff9c4;
}

.summary-card.completed {
  background-color: #c8e6c9;
}

.due-tasks-section {
  margin-top: 20px;
}

mat-divider {
  margin: 20px 0;
}

@media (max-width: 600px) {
  .summary-cards {
    flex-direction: column;
  }

  .summary-card {
    width: 100%;
  }
}